@model IEnumerable<NguyenThanhPhu_3.Models.Product>
@{
    ViewData["Title"] = "Home Page";
    int numOfQuantity = 1;
}
<section class="py-2">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                        <div class="col mb-5">
                            <div class="card gap-3" style="width: 18rem">
                                <img src="@item.ImageUrl" class="card-img-top" alt="..." style="height: 300px">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                    <div class="d-flex">
                                        <span>Price: </span>
                                        <p class="mx-3">@item.Price.ToString("#,##0") Vnđ</p>
                                    </div>
                                    <button class="btn btn-outline-dark add-to-cart" data-product-id="@item.Id" data-quantity="@numOfQuantity">
                                        <i class="bi-cart-fill me-1"></i> Add to Cart
                                    </button>
                                </div>
                            </div>
                        </div>
            }
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".add-to-cart").click(function () {
            var productId = $(this).data("product-id");
            var quantity = $(this).data("quantity");

            $.post("/ShoppingCart/AddToCart", { productId: productId, quantity: quantity }, function (data) {
                updateCartCount();
            });
        });

        function updateCartCount() {
            $.get("/ShoppingCart/GetCartCount", function (data) {
                $("#cart-count-badge").text(data.cartCount);
            });
        }
    });
</script>